<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
    <!-- 데이터 추가 -->
    <!-- parameterType:마이바티스에게 전달하는 객체 또는 자료형 -->
    <select id="selectUserInfo" parameterType="hashMap" resultType="hashMap">
        SELECT #{userId}    AS USER_ID
             , '남경일'     AS USER_NAME
          FROM DUAL
         WHERE USER_ID = #{userId}
           AND USER_PW = #{userPw}
        <!-- 대소문자 주의 -->
    </select>
</mapper>